* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

header {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.7);
}

.logo {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: 700;
}
.logo span {
    color: #5D95CE;
}

.headerInner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerInner button {
    width: 70px;
    padding: 10px 0;
    background-color: #5D95CE;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.headerInner button:hover {
    background-color: #6daae8;
}

.headerInner button:active {
    background-color: #3f6d9b;
    color: #c4c4c4;
}

body {
    background: url("../../img/background.jpg") no-repeat;
    background-size: cover;
}

.main {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 1260px) {
    .container {
        width: 800px;
    }
}

@media only screen and (max-width: 860px) {
    .container {
        width: 500px;
    }
}

@media only screen and (max-width: 560px) {
    .container {
        width: 320px;
    }
}

footer {
    background-color: #5D95CE;
}

.footerInner {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    height: 150px;
}

@media only screen and (max-width: 560px) {
    .footerInner {
        flex-direction: column;
        height: 250px;
        padding-bottom: 30px;
    }
}

.footerInner ul {
    list-style: none;
}

.logoFooter {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: 700;
}
.logoFooter span {
    color: #ffffff;
}

.contactsFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactsFooter a {
    text-decoration: none;
    color: #ffffff;
}

.contactsFooter a:hover {
    text-decoration: underline;
}

.contactsFooter a:active {
    color: #e1e1e1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.22);
    width: 500px;
    border-radius: 10px;
    border: 3px solid white;
    backdrop-filter: blur(5px);
}

@media only screen and (max-width: 560px) {
    .form {
        width: 320px;
    }
}

.form input {
    border-radius: 5px;
    border: 1px solid black;
    height: 40px;
    padding: 10px;
}

.form h2 {
    color: #5D95CE;
}

.submit {
    padding: 10px 0;
    background-color: #5D95CE;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}